@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  overflow: hidden;
  margin: 0;
  background: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20 px;
}

.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10 px;
  cursor: pointer;
  color: #7e7b7b;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  /*убираем дефолтные внешние отступы*/
  margin: 0;
  /*изначально описания на слайдах скрыты (прозрачны), непрозрачно описание только на активном слайде (с классом .active)*/
  opacity: 0;
  /*анимируем все св-ва у слайда: сначала пишем что за св-во анимируем, потом за сколько секунд и в конце указываем эффект анимации (ease-in-out - переход медленно начинается и медленно заканчивается)*/
  transition: all 500ms ease-in-out;
}

.slide.active {
  /*делаем активный слайд по ширине в 10 раз болше, чем остальные*/
  flex: 10;
}

.slide.active h3 {
  /*у активного слайда (с классом .active) включаем отображение описания*/
  opacity: 1;
  /*анимируем появление описания: сначала пишем что за св-во анимируем, потом за сколько секунд и в конце указываем эффект анимации (ease-in	- переход начинается медленно, а затем плавно ускоряется в конце) и время задержки анимации*/
  transition: opacity 0.3s ease-in 0.4s;
}
